# Dependency directories
/node_modules
/ios/Pods
/android/.gradle
/android/app/build
/android/build
# Default ignored files
/shelf/
/workspace.xml
.DS_Storec
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*